images/IMG_1044.jpg
images/IMG_1045.jpg
images/IMG_1046.jpg
images/IMG_1047.jpg
images/IMG_1048.jpg
images/IMG_1049.jpg
images/IMG_4274.jpg
images/IMG_4275.jpg
images/IMG_4276.jpg
images/IMG_4277.jpg
images/IMG_4278.jpg
images/IMG_4279.jpg
input.txt
output.png
outputs/1.png
outputs/2.png
outputs/3.png
outputs/3Dfying.psd
outputs/4.png
outputs/5.png
outputs/6.png
outputs/New folder/1-2.png
outputs/New folder/1-2w.png
outputs/New folder/1.png
outputs/New folder/2.png
outputs/New folder/3-4.png
outputs/New folder/3-4w.png
outputs/New folder/3.png
outputs/New folder/4.png
outputs/New folder/5-7.png
outputs/New folder/5-7w.png
outputs/New folder/5.png
outputs/New folder/6-6.png
outputs/New folder/6.png
outputs/New folder/7.png
outputs/set.psd
Soeknad.txt
test.py
input.txt
output.png
